.custom-button {
    /* Background color */
    background-color: #BBAB57;
    
    /* Text color */
    color: white;
    
    /* Padding */
    padding: 10px 50px;
    
    /* Border */
    border: none;
    
    /* Border radius */
    border-radius: 5px;
    
    /* Cursor */
    cursor: pointer;
    
    /* Hover effect */
    transition: background-color 0.3s ease;

    font-family: 'Benne';

    margin-bottom: 50px;

    margin-top: 70px;
  }
  
.custom-button:hover {
    background-color: #9a8c46;
}