.h1 {
    font-family: 'Benne';
}

.image-with-caption {
    display: flex;
    align-items: center; /* Vertical alignment */
  }
  
.image {
    max-width: 65%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    /*border-radius: 50%;*/
}

.caption {
    flex: 1; /* Take remaining space */
    /*margin-left: 20px; /* Adjust spacing */
    font-family: 'Benne';
    font-style: italic;
    font-size: 24px;
}